.price-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  min-width: 1440px;
  min-height: 1000px;
  background-color: $color-blue-dark;
}

.price-card {
  position: relative;
  width: 380px;
  margin-left: 18px;
  overflow: hidden;
  background-color: $color-grey;
  &:first-child {
    margin-left: 0px;
  }
  &__title {
    margin: 0;
    margin-top: 33px;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
  }
  &__price {
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
  }
  &__description {
    margin: 40px 26px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  &__options-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__option {
    display: flex;
    line-height: 50px;
    font-size: 15px;
    font-weight: 300;

    &:nth-child(even) {
      background-color: $color-grey;
    }
    &:nth-child(odd) {
      background-color: $color-grey-dark;
    }
  }
  &__option-check {
    display: block;
    width: 15px;
    height: 13px;
    margin: auto 22px;
  }
  &__order-btn {
    display: block;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 40px;
    width: 154px;
    padding: 0;
    border-radius: 20px;
    border: none;
    color: $text-color-white;
    line-height: 40px;
  }
  &__popular {
    position: absolute;
    width: 147px;
    right: -30px;
    top: 30px;
    transform: rotate(45deg);
    background-color: $text-color-red;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
}

.background {
  &_green {
    background-color: $color-green;
  }
  &_blue {
    background-color: $color-blue;
  }
  &_orange {
    background-color: $color-orange;
  }
}

.check {
  &_green {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
  }
  &_blue {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
  }
  &_orange {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
  }
}
