$color-blue-dark: #141b1c;
$color-grey: #334247;
$color-grey-dark: #2a3438;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;

$text-color-white: #ffffff;
$text-color-red: #dc3f45;

$border-color: #2b292d33;
